
body {
    background: #fff8f8;
    padding: 10px;
    margin: 0;
    padding: 0;
}

.user_input {
    font-family: 'HSYuji-Regular';
    background: white;
    padding: 4px;
    outline: none;
    font-size: 19px;
    color: black;
    border: 1px solid black;
}

.submit {
    font-size: 15px;
    
}

.user_input_field {
    font-family: 'HSYuji-Regular';
    
}

#result {
    font-size: 22px;
}

/* 메뉴 */
.menu {
    background: white;
    width: 100%;
    height: 40px;
}

.menu table {
    border-spacing: 10px;
    text-align: center;
    width: 100%;
    font-size: 16px;
}

.menu table td:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
    
}

.content_panel {
    padding: 10px;
}
