
body {
    background: #fff8f8;
    padding: 10px;
    margin: 0;
    padding: 0;
}

.user_input {
    font-family: 'HSYuji-Regular';
    background: white;
    padding: 4px;
    outline: none;
    font-size: 19px;
    color: black;
    border: 1px solid black;
}

.submit {
    font-size: 15px;
    padding: 5px;
    width: 200px;
}

.submit hover {
    cursor: pointer;
}

.user_input_field {
    position: relative;
    top: 10px;
    font-family: 'HSYuji-Regular';
    background: #ffdddd;
    width: 300px;
    padding: 15px;
    height: 210px;
    box-shadow: 0px 0px 5px pink;
}

#result {
    width: 1000px;
    margin-top: 40px;
    font-size: 22px;
    opacity: 0%;
    transition: Opacity linear 0.4s;
    background: #ffffff;
    border-radius: 20px;    
}

/* 메뉴 */
.menu {
    background: white;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
}

.menu table {
    border-spacing: 10px;
    text-align: center;
    width: 100%;
    font-size: 16px;
}

.menu table td:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
    
}

.content_panel {
    padding: 10px;
}

#updateLogArea {
    position: relative;
    border: 0;
    outline: none;
    top: 10px;
    box-shadow: 0px 0px 5px black;
}

/* 발 */
.foot {
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    height: 50px;
}

.foot div {
    font-size: 13px;
    margin-top: 15px;
    margin-left: 10px;
}
#result-text {
    margin-top: -20px;
    padding: 10px;
}

#submit div {
    margin-top: -40px;
}
